badge issued sucessfully
<form method="post" action="/users/success_issuing">
  <div class="form-group">
    
    <input type="text" class="form-control" placeholder="Roll_No" name="Roll_No" value = "{{result.studentrollno}}">
  </div>
  <button type="submit" class="btn btn-default">Issue Badge</button>
</form>
{{result.Badgeissuedby}}