<h2 class="page-header">Dashboard</h2>

<form action="/users/success_issuing" method="post">
	<h4>Issue badge to next Student</h4>
	 <button type="submit" class="btn btn-default">Submit</button>
</form>
