<h2 class="page-header">Dashboard</h2>

<form action="/users/success_detailing" method="post">
	<h4>Record has been successfully entered. Click to enter the details of the next Student</h4>
	 <button type="submit" class="btn btn-default">Submit</button>
</form>
